.result-boxes
  .row.show-for-small-only
    .column.large-2.primary-info.extramargin-bottom
      .logo
        %img{src: "/img/logos/#{airliner}.png"}
        .lighter= airliner
      .price= price

    .column.large-7.flight-info-mobile.extramargin-bottom
      .row.extramargin-bottom
        .column.small-4
          .flight-time
            .time= flight1_dep_time
            .airport= departs
        .column.small-4.middle-info
          .small-text nonstop
          %div &#8674
          .small-text= flight1_duration
        .column.small-4
          .flight-time
            .time= flight1_arr_time
            .airport= arrives

      .row
        .column.small-4
          .flight-time
            .time= flight2_dep_time
            .airport= arrives
        .column.small-4.middle-info
          .small-text nonstop
          %div &#8674
          .small-text= flight2_duration
        .column.small-4
          .flight-time
            .time= flight2_arr_time
            .airport= departs

    .column.large-3
      %input.book-button.button.postfix{type: "submit", value: "Book Flight"}


  .row.hide-for-small-only
    .column.large-2.primary-info
      .logo
        %img{src: "/img/logos/#{airliner}.png"}
        .airline.lighter= airliner
      .price= price
    .column.large-7
      .flight-info-desktop
        %span.depart Depart
        %span.flight-time= flight1_dep_time
        %span.airport-code= departs
        %span.arrow &#8674
        %span.arrive Arrive
        %span.flight-time= flight1_arr_time
        %span.airport-code= arrives
        %span.duration.lighter #{flight1_duration} nonstop

      .flight-info-desktop
        %span.depart Depart
        %span.flight-time= flight2_dep_time
        %span.airport-code= arrives
        %span.arrow &#8674
        %span.arrive Arrive
        %span.flight-time= flight2_arr_time
        %span.airport-code= departs
        %span.duration.lighter #{flight2_duration} nonstop

    .column.large-3
      %input.book-button.button.postfix{type: "submit", value: "Book Flight"}
